@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');


body {
    background-color: #F5F0E6;
    color: #2C1D13;
    font-family: 'Georgia', serif;
}

h1 {
    text-align: center;
    color: #6B4226;
    font-family: 'Fleur De Leah' !important;
    font-size: 7em !important;
    font-weight: normal;
    margin-bottom: 0.5em !important;
}


.stButton > button {
    background-color: #6B4C3B;
    color: white;
    border-radius: 8px;
    padding: 0.5em 1.2em;
    font-weight: bold;
}

input, textarea {
    border-radius: 6px;
    border: 1px solid #6B4C3B;
}
