@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Allura&family=Ballet:opsz@16..72&family=Beau+Rivage&family=Carattere&family=Ephesis&family=Fleur+De+Leah&family=Great+Vibes&family=Gwendolyn:wght@400;700&family=Imperial+Script&family=Lavishly+Yours&family=Lovers+Quarrel&family=Lugrasimo&family=Mea+Culpa&family=MonteCarlo&family=Updock&display=swap');


body {
    /*background-color: #F0E68C;*/
    color: #2C1D13;
    font-family: 'Georgia', serif;
}

h1 {
    text-align: center;
    color: #4B5320 !important;
    font-family: 'Great Vibes' !important;
    font-size: 10em !important;
    font-weight: normal !important;
    margin-bottom: 0.15em !important;
}


.stButton > button {
    background-color: #6B4C3B;
    color: white;
    border-radius: 8px;
    padding: 0.5em 1.2em;
    font-weight: bold;
}

input, textarea {
    border-radius: 6px;
    border: 1px solid #6B4C3B;
}
