@import url("styles.css");


.custom-title {
    font-size: 11em !important;
    text-shadow: 2px 2px 4px #B87333;
    margin-bottom: 0.3em !important;
}


@media (max-width: 1300px) {
    .custom-title {
        font-size: 15vw !important;
    }
}
@media (max-width: 1024px) {
    .custom-title {
        font-size: 16vw !important;
    }
}
@media (max-width: 900px) {
    .custom-title {
        font-size: 19vw !important;
    }
}
@media (max-width: 745px) {
    .custom-title {
        font-size: 22vw !important;
    }
}

@media (max-width: 480px) {
    .custom-title {
        font-size: 24vw !important;
        width: 100vw !important;
        transform: translateY(-65px) !important;
        margin-left: -2rem !important;
        max-width: 800px;
        background-color: rgba(250, 245, 238, 1) !important;
        border-radius: 12px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }
    .stMainBlockContainer {
        transform: translateY(200px) !important;
        max-height: 240vh !important; 
        background-color: rgba(250, 245, 238, 1) !important;    
    }
    .stMainBlockContainer > div {
        transform: translateY(-150px) !important;
    }
    .stButton > button {
        padding: 0.5em 0.7em;
    }
}